.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  margin-inline: 6em;
}
#sort-select {
  margin-left: 5px;
  font-size: 1rem;
}

#div-sort-select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}
