.product {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 25px;
}

.product-title {
  text-align: center;
}

.product-card {
  max-width: 400px;
}
