<div class="product">
  <app-slider [images]="product.images"></app-slider>
  <h2 class="product-title">{{ product.title }}</h2>
  <p>{{ product.description }}</p>

  <div>
    <p>Price: {{ product.price }}</p>
    <p *ngIf="product.discountPercentage">
      Discount: {{ product.discountPercentage }}
    </p>
    <p *ngIf="product.discountPercentage">
      Discounted price:{{ discountPrice() }}
    </p>
    <p>Rating: {{ product.rating }}</p>
    <p>Stock: {{ product.stock }}</p>
  </div>

  <div>
    <button (click)="instantBuy(product.id)">Buy NOW!</button>
    <button (click)="addToCart(product.id)">Add to cart</button>
  </div>
</div>
